* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: aliceblue;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h1 {
    font-size: 150px;
    border: 2px solid rgb(255, 255, 255);
    padding: 30px 70px;
    border-radius: 10px;
}