* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: aliceblue;
    width: 600px;
    height: 370px;
    border-radius: 20px;
    box-shadow: 0 0 10px;

}

.title {
    text-align: center;
    padding-top: 30px;
}

p {
    text-align: center;
    padding-top: 70px;

}

.auther {
    padding-right: 10px;
    text-align: end;
}

.footer {

    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid;

}

.footer i {
    border: 1px solid;
    border-radius: 50%;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    color: blue;

}

button {
    background-color: blue;
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: aliceblue;
    cursor: pointer;
}