* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(92, 253, 52, 0.759);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
}

.container {
    width: 800px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header h1 {
    
    padding-bottom: 3px;
    font-weight: 900;
    border-bottom: 3px solid rgba(0, 68, 0, 0.863);

}

.header button {
    background-color: rgba(0, 68, 0, 0.863);
    border: none;
    border-radius: 1px;
    color: white;
    padding: 10px;
    font-weight: 800;

}

.quote {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.auther {
    margin-top: 20px;
    text-align: end;
}

.middle {
    background-color: rgba(0, 118, 0, 0.414);
    padding: 30px;
    border-radius: 2px;
    border-left: 5px solid rgba(0, 68, 0, 0.863);
}