* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(43, 43, 43);
    width: 700px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px;

}

h1 {
    color: azure;
}

.container h1 {
    text-align: center;
    padding: 40px;
    padding-bottom: 80px;
}


.con label {
    padding-top: 5px;
    margin-top: 20px;
}

.proBar {
    background-color: rgba(73, 73, 73, 0.541);
    width: 600px;
    height: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.progress {

    background-image: linear-gradient(to left, rgb(209, 118, 0), rgb(196, 0, 130));
    height: 100%;
    border-radius: 20px;
}

.con {
    padding-left: 30px;
    gap: 20px;

}

.skills {
    width: 600px;
    display: flex;
    justify-content: space-between;
    color: aqua;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    font-weight: 900;
}