* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a401f0;
}

.con {
    width: 490px;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.con label {
    font-size: 17px;
    font-weight: 600;
    color: #333;
}


.drop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin: 45px; */
    margin-bottom: 40px;
    border-top: 40px;
    align-items: center;
}

select {
    background-color: #6f00ff;
    width: 48%;
    padding: 10px;
    border-radius: 4px;
    /* border-radius: 2px; */
    color: #fff;
    font-weight: 800;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    font-size: 14px;
}


.icon {
    width: 100%;
    text-align: center;
    font-size: 120px;
    color: #6f00ff;
}


.txtIn {
    width: 100%;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
}

.txtIn:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.txtIn::placeholder {
    color: #0000002c;
    font-size: larger;
}


.btn {
    font-weight: 900;
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #6f00ff;
}
.btn:hover{
    background-color: #6f00ff80;
}

.res {
    background-color: #6f00ff2a;
    border-radius: 3px;
    height: 60px;
}