* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 179);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    background-color: rgb(63, 63, 63);
    padding: 50px;
    width: 900px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}


.con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    border-left: 6px solid rgb(0, 255, 179);
    color: rgb(0, 255, 179);
    padding-left: 20px;
    font-weight: 900;
    font-size: 45px;

    letter-spacing: 2px;
    /* border-top-left-radius: 5px; */
}




.con input {
    outline: none;
    width: 250px;
    height: 30px;
    font-size: 20px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.con input::placeholder {
    /* text-emphasis: none; */
    /* display: none; */
    font-weight: 900;
    color: aliceblue;

}

.con input:focus::placeholder {
    /* display: none; */
    /* text-size:0; */
    font-size: 0;
}

.container p {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 18px;
}

.con button {
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(145, 229, 229);
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid rgb(145, 229, 229);
    transition: 0.3s ease;


}

.con button:hover {
    background-color: transparent;
    /* border: 2px solid rgb(145, 229, 229); */
    color: aliceblue;
}