* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 87, 0.788), rgb(0, 247, 255));
}


.container {
    background-color: aliceblue;
    /* border: 1px solid; */
    height: 700px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 4px;
}

.title {
    padding: 30px;
}

.container input {
    margin-left: 30px;
    height: 50px;
    width: 470px;
    border-radius: 5px;
    padding-left: 2px;
    font-size: 25px;
}

.container input::placeholder {
    font-size: 16px;
    letter-spacing: 4px;
    padding-left: 20px;
    color: rgba(61, 61, 61, 0.473);
}

.container label {
    left: 10px;
    font-size: 50px;
    position: relative;
    top: 10px;
    /* text-align: center; */
    /* margin-bottom: 40px; */
}

label i {
    color: blue;
    overflow: hidden;
    cursor: pointer;
}

.tList {
    margin-left: 30px;
}

.tList li {
    list-style: none;
    border-radius: 5px;
    width: 530px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(43, 43, 43, 0.068);

}

li {
    display: flex;
    justify-content: space-between;
}

li i {
    background-color: brown;
    color: rgba(255, 255, 255, 0.788);
    font-size: 18px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}